# SPDX-FileCopyrightText: 2026 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: Apache-2.0
/target
/build
/.build
/.swiftpm
node_modules
.gradle
android/**/build
android/local.properties
android/lib/src/main/jniLibs
android/lib/src/main/resources
